<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <main class="container editProfile">
      <div class="row">
        <div class="col-md-12">
          <h1>Edit profile for <%=user.username%></h1> 
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <img src='<%=dbUser.imagePath%>' alt="avatar"> 
          <br></br> 
        </div>
      </div>
      <form name="editProfileForm" action="/editprofile/" enctype="multipart/form-data" method="post">
        <div class="row">
          <div class="col-md-12"> 
            <p><input type="file" name="avatar"></p>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-12">
            <h2>Weaknesses</h2>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-12">
            <% traits.weakness.forEach(weakness => { %>
              <p><input type="checkbox" id='<%=weakness.id%>' name="weakness[]" value='<%=weakness.id%>' <% if (dbUser.weakness) { %> <%= (dbUser.weakness.indexOf(weakness.id) > -1) ? "checked" : "" %> <% } %> >
              <label for='<%=weakness.id%>'><%=weakness.label%> </label></p>
            <% }); %> 
            <p><label for="weakness other">Other:</label>
            <input type="text" id="weakness other" name="weaknessOther" value="<%=dbUser.weaknessOther%>"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Strengths</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"> 
            <% traits.strength.forEach(strength => { %>
              <p><input type="checkbox" id='<%=strength.id%>' name="strength[]" value='<%=strength.id%>' <% if (dbUser.strength) { %> <%= (dbUser.strength.indexOf(strength.id) > -1) ? 'checked' : '' %> <% } %>>
              <label for='<%=strength.id%>'><%=strength.label%> </label></p>
            <% }); %> 
            <p><label for="strength other">Other:</label>
            <input type="text" id="strength other" name="strengthOther" value="<%=dbUser.strengthOther%>" ></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Allergies</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <% traits.allergy.forEach(allergy => { %>
              <p><input type="checkbox" id='<%=allergy.id%>' name="allergy[]" value='<%=allergy.id%>' <% if (dbUser.allergy) { %> <%= (dbUser.allergy.indexOf(allergy.id) > -1) ? 'checked' : '' %> <% } %>>
              <label for='<%=allergy.id%>'><%=allergy.label%> </label></p>
            <% }); %> 
            <p><label for="allergy other">Other:</label>
            <input type="text" id="allergy other" name="allergyOther" value="<%=dbUser.allergyOther%>" ></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Moral Qualms</h2>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-12">
            <% traits.qualm.forEach(qualm => { %>
              <p><input type="checkbox" id='<%=qualm.id%>' name="qualm[]" value='<%=qualm.id%>' <% if (dbUser.qualm) { %> <%= (dbUser.qualm.indexOf(qualm.id) > -1) ? 'checked' : '' %> <% } %>>
              <label for='<%=qualm.id%>'><%=qualm.label%> </label></p>
            <% }); %> 
            <p><label for="qualm other">Other:</label>
            <input type="text" id="qualm other" name="qualmOther" value="<%=dbUser.qualmOther%>" ></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Company Spirit</h2>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-12">
            <% traits.spirit.forEach(spirit => { %>
              <p><input type="checkbox" id='<%=spirit.id%>' name="spirit[]" value='<%=spirit.id%>' <% if (dbUser.spirit) { %> <%= (dbUser.spirit.indexOf(spirit.id) > -1) ? 'checked' : '' %> <% } %>>
              <label for='<%=spirit.id%>'><%=spirit.label%> </label></p>
            <% }); %> 
            <p><label for="spirit other">Other:</label>
            <input type="text" id="spirit other" name="spiritOther" value="<%=dbUser.spiritOther%>"></p>
            <p><input type='submit' value='Submit'/></p>
            <input type='hidden' name="_csrf" value="<%= csrftoken %>"/>
          </div>
        </div> 
      </form> 
    </main>
  </body> 
</html>