<!DOCTYPE html>
<html>
  <% include partials/head %>  
  <body>
    <% include partials/header %>
    <main class="container">
      <br></br> 
      <div class="row">
        <div class="col-md-12">
          <img class="center" src='<%=dbUser.imagePath%>' alt="avatar">
        </div>
      </div>   
      <div class="row">
        <div class="col-md-12">
          <h1 class="center"><%= dbUser.username %></h1>
        </div>
      </div> 
      <div class="row">
          <div class="col-md-12 center">
            <% if (user.username === dbUser.username) { %>
              <a class="center" href="/editprofile/">Edit Profile</a>
            <% } %> 
          </div>
        </div>   
      <div class="row">
        <div class="col-md-12">
          <h2>Weaknesses</h2>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <% if (dbUser.weakness) { %> 
            <% traits.weakness.forEach(weakness => { %>
              <% if (dbUser.weakness.indexOf(weakness.id) > -1) { %>  
                <p><%=weakness.label%></p>
              <% } %>  
            <% }); %>
          <% } %>  
          <% if (dbUser.weaknessOther) { %> 
            <p><%=dbUser.weaknessOther%></p>
          <% } %> 
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <h2>Strengths</h2>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <% if (dbUser.strength) { %>
            <% traits.strength.forEach(strength => { %>
              <% if (dbUser.strength.indexOf(strength.id) > -1) { %>  
                <p><%=strength.label%></p>
              <% } %>  
            <% }); %>
          <% } %> 
          <% if (dbUser.strengthOther) { %> 
            <p><%=dbUser.strengthOther%></p>
          <% } %> 
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <h2>Allergies</h2>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <% if (dbUser.allergy) { %>
            <% traits.allergy.forEach(allergy => { %>
              <% if (dbUser.allergy.indexOf(allergy.id) > -1) { %>
                <p><%= allergy.label %></p>
              <% } %>  
            <% }); %>
          <% } %>  
          <% if (dbUser.allergyOther) { %> 
            <p><%=dbUser.allergyOther%></p>
          <% } %> 
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <h2>Moral Qualms</h2>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <% if (dbUser.qualm) { %>
            <% traits.qualm.forEach(qualm => { %>
              <% if (dbUser.qualm.indexOf(qualm.id) > -1) { %>  
                <p><%=qualm.label%></p>
              <% } %>  
            <% }); %>
          <% } %>  
          <% if (dbUser.qualmOther) { %> 
            <p><%=dbUser.qualmOther%></p>
          <% } %> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Company Spirit</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <% if (dbUser.spirit) { %>
            <% traits.spirit.forEach(spirit => { %>
              <% if (dbUser.spirit.indexOf(spirit.id) > -1) { %>  
                <p><%=spirit.label%></p>
              <% } %>  
            <% }); %>
          <% } %>  
          <% if (dbUser.spiritOther) { %> 
            <p><%=dbUser.spiritOther%></p>
          <% } %> 
        </div>
      </div> 
    </main>
  </body> 
</html>